@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Утіліти */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* основний колір #212121
вторичній колір текста #757575
колір акцента #2196F3
вторичний колір фона #F5F4FA */
:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --text-color: #757575;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment, .form__input {
  width: 100%;
  border: rgba(33, 33, 33, 0.2) solid 1px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding: 16px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__social {
  margin-bottom: 60px;
}

.footer__call {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
}

.footer__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__field {
  position: relative;
  width: 448px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  margin-bottom: 10px;
  padding-left: 40px;
  height: 40px;
}
.form__input:focus, .form__input:focus {
  border: solid 1px var(--accent-color);
  outline: none;
}

.form__comment {
  display: block;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__comment:focus, .form__comment:focus {
  border: solid 1px var(--accent-color);
  outline: none;
}
.form__comment::-webkit-input-placeholder {
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  padding-top: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 30px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.request-form__main-button {
  margin-left: auto;
  margin-right: auto;
}

.subscription-form {
  margin-left: auto;
  margin-right: auto;
}

.subscription-form__call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  margin-bottom: 20px;
}

.subscription-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  display: block;
  padding: 16px;
  margin-bottom: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: border-color 250ms var(--cubic);
  transition: border-color 250ms var(--cubic);
}
.subscription-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscription-form__icon {
  max-width: 24px;
  height: 24px;
  margin-left: 10px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.site-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition-property: fill, color, background-color;
  transition-property: fill, color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}
.address__link--white {
  color: var(--primary-white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

/* ДЛЯ МОДАЛЬНОГО ВІКНА */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--cubic);
  transition: opacity 250ms var(--cubic);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  background-color: #ffffff;
  fill: #212121;
  cursor: pointer;
}

.button-close__icon {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms var(--cubic);
  transition: fill 250ms var(--cubic);
}
.button-close:hover .button-close__icon, .button-close:focus .button-close__icon {
  fill: var(--accent-color);
}

.card__link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card__meta {
  width: 370px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card__picture {
  display: block;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.projects__item:hover .card__overlay {
  -webkit-transform: translateY(-293px);
          transform: translateY(-293px);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-left: 20px;
}

.checkbox__link {
  color: var(--accent-color);
  margin-left: 5px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: #212121 solid 2px;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms var(--cubic);
  transition: background-color 250ms var(--cubic);
}
.checkbox:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border-radius: 2px;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-list__icon {
  width: 106px;
  height: 60px;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.co-worker__meta {
  background-color: var(--primary-white-color);
  max-width: 100%;
  padding: 30px 0px;
}

.co-worker__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.co-worker__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example__image {
  display: block;
}

.example__thumb {
  position: relative;
}

.example__subtitle {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  min-width: 370px;
  padding: 27px;
}

.features-list {
  @medi;
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.features-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  max-width: 100%;
}

/* АЛЬТЕРНАТИВНИЙ СПОСІБ ДОДАВАННЯ SVG ЧЕРЕЗ ПСЕВДОЕЛЕМЕНТИ */
/* .features-item::before {
    content: ""; 
    height: 120px;
    width: 270px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 30px;
}

.details::before {
    background-image: url(../images/svg/antenna\ 1.svg);
}

.timing::before {
    background-image: url(../images/Features2.png);
}

.plans::before {
    background-image: url(../images/Features3.png);
}
.technology::before {
    background-image: url(../images/Features4.png); */
.filter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter_button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, box-shadow, background-color;
  transition-property: color, box-shadow, background-color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.filter_button:hover, .filter_button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter_item:not(:last-child):not(:last-child) {
  margin-right: 8px;
}

.hero {
  text-align: center;
  background-color: #C4C4C4;
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Header\ img\ mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ img\ mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
}

.hero__main-button {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__part {
  color: var(--primary-text-color);
}
.logo__part--white {
  color: var(--primary-white-color);
}

.main-button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  display: block;
  max-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.main-button:hover, .main-button:focus {
  background-color: #188CE8;
}
.main-button--large {
  max-width: 209px;
}
.main-button--with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.main-button--shadow {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 521px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: auto;
  -webkit-transition: -webkit-transform 250ms var(--cubic);
  transition: -webkit-transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic);
  transition: transform 250ms var(--cubic), -webkit-transform 250ms var(--cubic);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.backdrop.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic);
  transition: -webkit-box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic);
  transition: box-shadow 250ms var(--cubic), -webkit-box-shadow 250ms var(--cubic);
}
.projects__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--no-padding {
  padding-top: 0;
}
.section--color-grey {
  background-color: #F5F4FA;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 50px;
}

.site-contacts__link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 16px;
  fill: var(--text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site-contacts__icon {
  margin-right: 10px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__link {
  fill: #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--cubic);
          transition-timing-function: var(--cubic);
}
.social-links__link:hover, .social-links__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}
.social-links__link--bg-grey {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__icon {
  max-width: 20px;
  height: 20px;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */