.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__social {
    // display: flex;
    // margin-left: 70px;
    // justify-content: space-between;
    margin-bottom: 60px;
}

.footer__call {
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 20px;
}

.footer__logo {
  justify-content: center;
}

// .footer__container {
//     display: flex;
// }