.header {
    border-bottom: 1px solid #ECECEC;
    // padding: 16px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.header__burger {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.header__logo {
    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
    
} 