.address {
    margin-top: 20px;
    margin-bottom: 60px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition-property: fill, color, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);


    &:hover,
    &:focus {
            color: var(--accent-color);
        }
    
    &--white {
            color: var(--primary-white-color);
        }
}



.address__item:not(:last-child) {
    margin-bottom: 9px;
}