.co-worker__meta {
    background-color: var(--primary-white-color);
    max-width: 100%;
    padding: 30px 0px;
}

.co-worker__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 10px;
}

.co-worker__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
}
