.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}
.logo__part {
    color: var(--primary-text-color);

    &--white {
            color: var(--primary-white-color);
        }
}




